
/* CARD CARRERA */
.race-card {
  margin: 0px 16px 16px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 61, 0, 0.15),
    rgba(255, 145, 0, 0.15)
  );
  backdrop-filter: blur(10px);
  color: #fff;
}

.race-info h1 {
  font-size: 20px;
  margin-bottom: 4px;
}

.circuit {
  font-size: 14px;
  opacity: 0.85;
}

.race-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  div {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    opacity: 0.9;
  }
}


.race-card {
  position: relative;
  overflow: hidden;
}

.predict-cta {
  margin-top: 14px;
  padding: 10px 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 14px;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);

  color: #ffffffcc;
  font-size: 14px;
  font-weight: 600;

  transition: 0.2s ease;
}

.race-card:hover .predict-cta {
  background: rgba(255, 255, 255, 0.12);
  transform: scale(1.02);
  color: white;
}

.predict-cta ion-icon {
  font-size: 18px;
  color: #ffcc00;
}