<ion-content class="menu-page">
  <section class="menu-section">
    <div class="section-title">
      <span>Race Mind</span>
      <h1>Menu</h1>
    </div>

    <nav class="menu-nav">
      <button [routerLink]="['/tabs/raffles']">
        <div class="menu-icon">
          <ion-icon name="ticket"></ion-icon>
        </div>
        <div>
          <span>Sorteos</span>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </button>

      <button [routerLink]="['/tabs/user-ranking']">
        <div class="menu-icon">
          <ion-icon name="podium"></ion-icon>
        </div>
        <div>
          <span>Ranking - Race Mind</span>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </button>

      <button [routerLink]="['/tabs/ranking-pilots']">
        <div class="menu-icon">
          <ion-icon name="flag"></ion-icon>
        </div>
        <div>
          <span>Ranking - Campeonato 2026</span>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </button>

      <button [routerLink]="['/tabs/myaccount']">
        <div class="menu-icon">
          <ion-icon name="person"></ion-icon>
        </div>
        <div>
          <span>Mi cuenta</span>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </button>

      <button [routerLink]="['/tabs/news']">
        <div class="menu-icon">
          <ion-icon name="newspaper"></ion-icon>
        </div>
        <div>
          <span>Noticias</span>
        </div>
        <ion-icon name="chevron-forward"></ion-icon>
      </button>
    </nav>
  </section>

  <button class="logout" type="button" (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    Cerrar sesion
  </button>
</ion-content>
