<!-- CARD CARRERA -->
<ion-content class="home-content">
    @for (race of allRacesUpcoming; track $index) {
    <ion-card class="race-card">
        <ion-card-content>

            <div class="race-info">
                <h1>{{race?.name}}</h1>
                <p class="circuit">{{race?.circuit.name}}</p>
            </div>

            <div class="race-meta">
                <div>
                    <span>📅</span>
                    <p>{{ race?.date | date:'dd MMM · HH:mm' }}</p>
                </div>

            </div>

        </ion-card-content>
    </ion-card>

    }
</ion-content>