<ion-content class="menu">

  <!-- USER -->
  <div class="menu-user">
    <div class="user-avatar">
      <ion-icon name="person"></ion-icon>
    </div>

    <div class="user-data">
      <h4>{{userInfo?.username}}</h4>
      <span>{{userInfo?.points}}</span>
    </div>
  </div>

  <!-- NAV -->
  <nav class="menu-nav">
    <button [routerLink]="['/tabs/my-prediction']" >
      <ion-icon name="speedometer"></ion-icon>
      <span>Mis Pronósticos</span>
    </button>

    <button routerLink="/home">
      <ion-icon name="gift"></ion-icon>
      <span>Premios</span>
    </button>

    <button [routerLink]="['/tabs/user-ranking']">
      <ion-icon name="podium"></ion-icon>
      <span>Ranking</span>
    </button>

    <button [routerLink]="['/tabs/myaccount']">
      <ion-icon name="person"></ion-icon>
      <span>Mi cuenta</span>
    </button>

    
    <button [routerLink]="['/tabs/news']">
      <ion-icon name="newspaper"></ion-icon>
      <span>Noticias</span>
    </button>
  </nav>

  <!-- LOGOUT -->
  <div class="menu-footer">
    <button class="logout" (click)="logout()">
      <ion-icon name=""></ion-icon>
      Cerrar sesión
    </button>
  </div>

</ion-content>
