<ion-content class="account-content">

  <!-- HEADER -->
  <div class="account-header">
    <div class="avatar">
      {{ user.name?.charAt(0) || 'U' }}
    </div>

    <h2>{{ user.name }}</h2>
    <p class="email">{{ user.email }}</p>
  </div>

  <!-- PUNTOS -->
  <ion-card class="points-card">
    <ion-card-content>
      <p class="label">Puntos acumulados</p>
      <h1 class="points">{{ user.points }}</h1>
      <p class="hint">Canjeables por premios</p>
    </ion-card-content>
  </ion-card>

  <!-- INFO -->
  <ion-card class="info-card">
    <ion-card-content>

      <div class="info-row">
        <span>Rol</span>
        <strong>{{ user.role }}</strong>
      </div>

      <div class="info-row">
        <span>Miembro desde</span>
        <strong>{{ user.createdAt | date:'dd/MM/yyyy' }}</strong>
      </div>

    </ion-card-content>
  </ion-card>

  <!-- ACTIONS -->
   <div class="actions">
      <ion-button
    expand="block"
    shape="round"
    color="primary"
    class="logout-btn"
    (click)="logout()">
    Cerrar sesión
  </ion-button>
   </div>


</ion-content>
