<ion-card class="pilots-card">
  <ion-card-content>

    <h3>Tu pronóstico</h3>
    <p class="hint">Arrastrá para ordenar del 1° al 10°</p>

    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="doReorder($event)">

      <ion-item
        *ngFor="let pilot of listPilots; let i = index"
        class="pilot-item">

        <ion-label>
          <strong>#{{ i + 1 }}</strong>  {{ pilot.name }}
        </ion-label>
        <ion-avatar>
         <img [src]="pilot.img" [alt]="pilot.name" />
        </ion-avatar>
        <ion-reorder slot="end"></ion-reorder>

      </ion-item>

    </ion-reorder-group>

  </ion-card-content>
</ion-card>

  <!-- CTA -->
  <ion-button
    expand="block"
    shape="round"
    class="submit-btn"
    (click)="enviarData()">
    
    Guardar pronóstico
  </ion-button>
