<ion-content class="home-content">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

@if (prize?.status == 'activo'){
  <div class="season-prize">
    <div class="prize-icon">
      <ion-icon name="trophy"></ion-icon>
    </div>
    <div class="prize-content">
      <span class="season-label">Premio temporada 2026</span>
      <h3> ${{prize?.amount}}</h3>
      <p>El usuario con más puntos al final del campeonato gana.</p>
    </div>
  </div>
}



  <!-- HEADER -->
  <div class="header">
    <h2>🏁 Próximas carreras</h2>
    <p>Armá tu pronóstico antes del cierre</p>

  </div>


@for (race of allRacesUpcoming; track race._id) {

  <app-info-carrera [race]="race"></app-info-carrera>

  <app-component-pilots 
    [listPilots]="race.pilots" 
    [raceId]="race._id">
  </app-component-pilots>

}
</ion-content>